/*
==================
-> Global bars <-
==================
*/
:root {
	--var-height: 3em;
}

/*
==================
-> Components <-
==================
*/

/* -> Header-navbar <- */
.header__container nav {
	display: flex;
	position: fixed;
	align-items: center;
	border: 1px solid aqua;
	padding: 0 2em;
	height: var(--var-height);
	width: 100vw;
}

.header__container nav ul {
	display: flex;
	list-style: none;
	height: 100%;
}

.header__container nav ul li {
	height: 100%;
	margin: 0 1em;
}

.header__container nav ul li a {
	display: flex;
	align-items: center;
	text-decoration: none;
	height: 100%;
}

.img__headerUser {
	height: 80%;
	border-radius: 50%;
	margin: auto 0;
	cursor: pointer;
}

/* -> Status <- */
.div__status {
	margin-top: 2em;
	border: 1px solid aqua;
	height: 8em;
}

/* -> Publication card <- */
.article__publication {
	border: 2px solid chartreuse;
	margin: 1em 0;
	min-height: 500px;
}

/* -> Profile card ( render in home, aside ) <- */
.div__profileCard {
	position: sticky;
	max-height: 500px;
	grid-area: profile;
	top: var(--var-height);
	border: 1px solid yellow;
}

/*
==================
-> Home <-
==================
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main__container {
	height: 100vh;
	min-width: 100vh;
}

.section__principal {
	display: grid;
	padding: 0 10%;
	grid-template-columns: 1fr 0.5fr;
	grid-template-areas: "publication profile";
	min-height: calc(100% - var(--var-height));
}

.div__publications {
	margin-top: var(--var-height);
	grid-area: publication;
	border: 1px solid red;
}

/*
==================
-> Login <-
==================
*/

/*
==================
-> Register <-
==================
*/

/*
==================
-> Responsive <-
==================
*/

@media screen and (max-width: 990px) {
	/* -> Main container <- */
	.section__principal {
		grid-template-columns: 1fr;
		grid-template-areas: "publication";
		padding: 0 1em;
	}

	.div__profileCard {
		display: none;
	}
}
