{{> header}}
<section class="section__principal">
	<div class="div__publications">
		{{> status}}
		{{> publication}}
		{{> publication}}
		{{> publication}}
		{{> publication}}
		{{> publication}}
		{{> publication}}
		{{> publication}}
		{{> publication}}
		{{> publication}}
		{{> publication}}
		{{> publication}}
		{{> publication}}
		{{> publication}}
		{{> publication}}
		{{> publication}}
		{{> publication}}
		{{> publication}}
		{{> publication}}
		{{> publication}}
		{{> publication}}
	</div>
	{{> profileCard}}
</section>
