{{> head }}

<form action="/auth/login" method="POST">
	<h2>{{title}}</h2>
	<input type="text" placeholder="Username or email" name="userName" value="{{userName}}" required />
	<input type="password" placeholder="Type your password" name="password" required />
	<button>Submit</button>
</form>
