{{> head }}

<form action="/auth/register" method="POST">
	<h2>{{title}}</h2>
	<input type="text" placeholder="Name" name="name" value="{{name}}"   required />
	<input type="text" placeholder="Username" name="userName" value="{{userName}}"  required />
	<input type="email" placeholder="email" name="email" value="{{email}}" required />
	<input type="password" placeholder="Password" name="password"  required />
	<input type="password" placeholder="Re type password" name="passwordConfirm" required />
	<button>Submit</button>
</form>
